model/**/*
!/**/
!model/**/*.*
.*
*.hex
*.vcd
*.mem
*.bak
*-bak
*.bck
_autosave*
*.csv
*.xml
*.zip
*.net
*.000
*.xml
*.csv
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.bin
*.rom
*.ext
*.map
*.api
__pycache__
*.pyc
*.o
*.s
*.gtkw
